


<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">
   
     <div class="center">  Search Food</div>
   
   <!--<div class="mb-3 row">
    <label for="input" class="col-sm-2 col-form-label">Food ID: </label>
  
      <input type="text" class="form-control" id="input"  [(ngModel)]='id'>
</div>-->
&nbsp;
<div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm">Food ID</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='id'>
</div>

  
    &nbsp;
  
    <div style="text-align:center"><button class="btn btn-primary" type="button" (click)='getFoodById(id)'>Search Food</button>
    
  
  </div>

<h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>
<!--<a href="/loginsucces" class="link-secondary">Back</a>-->
</div>
</div>
</div>


   
 
