<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->
                <div *ngFor="let food of foods" class="col-md-3">

                    <div class="product-box">

                       <a routerLink="/foodFound/{{ food.id }}">
                            <img src="{{ food.avatar}}" class="img-responsive">
                        </a>

                       <a routerLink="/foodFound/{{ food.id }}">
                            <h3>{{ food.name }}</h3>
                        </a>
                        
                        <div class="price">{{ food.price| currency:'USD' }}</div>
                        <!--<a href="cart" class="primary-btn" (click)="addToCart(food)">Add to cart</a>-->
                        <button (click)="addToCart(food)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>

                </div>

             
                <div *ngIf="foods?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No food found.
                </div>

            </div>
            <h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>

        </div>
    </div>
</div>
