
<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">


    <ul class="navbar navbar-light" style="background-color: #0da8e4">
     
      <h4><div class="nav-item"><a routerLink="/addFood" class="nav-link"><p style="color:#FFFFFF">Add Food</p> </a></div></h4>
      <h4><div class="nav-item"><a routerLink="/updateFood" class="nav-link"><p style="color:#FFFFFF">Update Food </p></a></div></h4>
      <h4><div class="nav-item"><a routerLink="/deleteFood" class="nav-link"><p style="color:#FFFFFF">Delete Food </p></a></div></h4>
      <h4><div class="nav-item"><a routerLink="/searchFood" class="nav-link"><p style="color:#FFFFFF">Search Food</p></a></div></h4>
      <h4> <div class="nav-item"><a routerLink="/foodsList" class="nav-link"><p style="color:#FFFFFF">List of foods </p></a></div></h4>
      <!--<h4><div class="nav-item"><a routerLink="/login" class="nav-link">Logout</a></div></h4>-->
      <button  class="btn btn-outline-link" (click)="logout()"><p style="color:#FFFFFF">Logout</p></button>
     
    </ul>

 
</div>
  </div>
</div>
  
