<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">


        <div class="center"> <p> Registration</p></div>
  

   <!--- <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control"   placeholder="Enter email" name="email" [(ngModel)]="user.email" >
 
    </div>-->
    &nbsp;
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]="user.email">
    </div>
   <!-- <div class="mb-3">
      <label for="name" class="form-label">Username:</label>
      <input type="email" class="form-control"   placeholder="Enter Username" name="name" [(ngModel)]="user.name" >
 
    </div>-->
    &nbsp;
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Username</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]="user.name">
    </div>
    <!--<div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" placeholder="Enter  password" name="pwd" [(ngModel)]="user.password" >
    </div>-->
    &nbsp;
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]="user.password">
    </div>

   <!-- <div class="mb-3">
      <label for="confirm password" class="form-label">Confirm Password:</label>
      <input type="password" class="form-control" placeholder="Confirm Password" name="confirm password" [(ngModel)]="user.password" >
    </div>-->
    &nbsp;
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Confirm Password</span>
      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]="user.password">
    </div>

    &nbsp;
    <div style="text-align:center">
    <button type="submit" class="btn btn-success btn-sm" (click)='register()'>Register</button>
  

  </div>
</div>
</div>




