

<!--<div class="container">
    <h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>
    
    <h2>Food details to add:</h2>
     <input type="text" class="form-control" placeholder="Enter Product ID" [(ngModel)]='shoes.productId'> 
    <input type="text" class="form-control" placeholder=" Food Name" [(ngModel)]='food.name'>
    <input type="text" class="form-control" placeholder=" Food description" [(ngModel)]='food.description'>
     <input type="text" class="form-control" placeholder="Enter Food Quantity" [(ngModel)]='food.qty'> 
    <input type="text" class="form-control" placeholder=" Food Availability" [(ngModel)]='food.availability'>
    <input   type="text" class="form-control" placeholder='Food Price' [(ngModel)]= 'food.price'/>
    <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Food Price</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="input"  [(ngModel)]='food.price'>
        </div>
       
   
    
    <input type="url" class="form-control" placeholder=" Food Image" [(ngModel)]='food.avatar'>
   
    &nbsp;
    <div>

    <button class="btn btn-primary" type="button" (click)='addFood()'> Add Food </button>
</div>
</div>-->


  
<!--<div class="container">-->
  
  <div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
  
    <div class="center"> <p> Details Food </p></div>
 
    
    <!--<div class="mb-3 row">
        <label for="InputName" class="col-sm-2 col-form-label">Food Name:</label>
        
          <input type="text" class="form-control" id="InputName"  [(ngModel)]='food.name'>
        </div>-->
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Food Name</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.name'>
        </div>
       

       
       
      

    <!--<div class="mb-3 row">
            <label for="InputDescription" class="col-sm-2 col-form-label">Food Description:</label>
           
              <input type="text" class="form-control" id="InputDescription"  [(ngModel)]='food.description'>
            </div>-->
            &nbsp;
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Food Description</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.description'>
            </div>
            
    &nbsp;
            
   <!-- <div class="mb-3 row">
                <label for="input" class="col-sm-2 col-form-label">Food Availability: </label>
              
                  <input type="text" class="form-control" id="input"  [(ngModel)]='food.availability'>
    </div>-->
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Food Availability</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.availability'>
    </div>
    &nbsp;
    
     <!--<div class="mb-3 row">
                    <label for="input" class="col-sm-2 col-form-label">Food Price:</label>
                    
                      <input type="text" class="form-control" id="input"   [(ngModel)] ='food.price'>
                    </div>-->
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Food Price</span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.price'>
                    </div>
                    &nbsp;
                    
   <!-- <div class="mb-3 row">
        <label for="input" class="col-sm-2 col-form-label">Food Image:</label>
                       
                          <input type="url" class="form-control" id="input"  [(ngModel)]='food.avatar'>
    </div>-->
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Food Image</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.avatar'>
    </div>
    &nbsp;
    <!--<div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.name'>
    </div>-->
   
    
   
   
   
   

    <div style="text-align:center"><button  class="btn btn-primary btn-sm"type="button" (click)='addFood()'> Add Food </button></div> 

 
 <!-- </div>-->

  
 
  <h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>
  <!--<a href="/loginsucces" class="link-secondary">Back</a>-->




</div>
</div>
</div>


        





