
<div class="main-content">
  <div class="section-content section-content-p30">
      <div class="container-fluid">

  
  
   <div class="center"> Details Food</div>
    <!--<input type="text" class="form-control" placeholder="Food ID" [(ngModel)]='id'>
    <input type="text" class="form-control" placeholder="Food Name" [(ngModel)]='food.name'>
    <input type="text" class="form-control" placeholder="Food Description" [(ngModel)]='food.description'>
    <input type="text" class="form-control" placeholder="Food Availability" [(ngModel)]='food.availability'>
    <input type="text" class="form-control" placeholder="Food Price" [(ngModel)]='food.price'>
    <input type="url" class="form-control" placeholder="Food Image" [(ngModel)]='food.avatar'>-->
    
   <!-- <div class="mb-3 row">
        <label for="Input" class="col-sm-2 col-form-label">Food ID:</label>
       
          <input type="text" class="form-control" id="Input"  [(ngModel)]='id'>
        </div>-->
        &nbsp;
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Food ID</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='id'>
        </div>
        <!--<div class="mb-3 row">
            <label for="Input" class="col-sm-2 col-form-label">Food Name:</label>
           
              <input type="text" class="form-control" id="Input"  [(ngModel)]='food.name'>
            </div>-->
            &nbsp;
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Food Name</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.name'>
            </div>
            <!--<div class="mb-3 row">
                <label for="Input" class="col-sm-2 col-form-label">Food Description:</label>
               
                  <input type="text" class="form-control" id="Input"  [(ngModel)]='food.description'>
                </div>-->
                &nbsp;
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Food Description</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.description'>
                </div>
               <!-- <div class="mb-3 row">
                    <label for="Input" class="col-sm-2 col-form-label">Food Availability:</label>
                   
                      <input type="text" class="form-control" id="Input"  [(ngModel)]='food.availability'>
                    </div>-->
                    &nbsp;
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Food Availability</span>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.availability'>
                    </div>
                  <!--  <div class="mb-3 row">
                        <label for="Input" class="col-sm-2 col-form-label">Food Price:</label>
                       
                          <input type="text" class="form-control" id="Input"  [(ngModel)]='food.price'>
                        </div>-->
                        &nbsp;
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Food Price</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.price'>
                        </div>

                        <!--<div class="mb-3 row">
                            <label for="Input" class="col-sm-2 col-form-label">Food Image:</label>
                           
                              <input type="text" class="form-control" id="Input"  [(ngModel)]='food.avatar'>
                            </div>-->
                            &nbsp;
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Food Image</span>
                              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"  [(ngModel)]='food.avatar'>
                            </div>
                            
                        
        &nbsp;
    &nbsp;
  
      <div style="text-align:center"><button class="btn btn-primary btn-sm" type="button" (click)='updateFood(id,food)'>Update Food</button>
</div>
</div>
<h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>
<!--<a href="/loginsucces" class="link-secondary">Back</a>-->
</div>
</div>




