
<!--<div class=center><h1>payment has been made successfully</h1></div>-->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
<div class="alert alert-warning col-md-12" role="alert">
    payment has been made successfully
</div>

<!--<h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>-->

</div>
</div>
</div>
<!--<a href="/loginsucces" class="link-secondary">Back</a>-->
<h4><a routerLink="/loginsucces" class="nav-link">Back</a></h4>




